.accordion .item {
    background-color: #ffffff;
    margin-bottom: 0.2rem;
    border: 0;
    /* border-radius: 0; */
    color: rgba(0, 0, 0, 0.826);
    box-shadow: inherit;
}

.accordion {
    width: 580px;
    background: #012137;
    border: 1px solid #ffffff46;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.myaccordion-body {
    background-image: purple;
}

.accordcontain {
    position: relative;
    display: flex;
    gap: 25px;
    margin-top: 25px;
    margin-bottom: 100px;
    justify-content: center;
    height: 500px;
    width: 100vw;
    background: #012137;
    border: #000000f2 solid 2px;
    border-radius: .5rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.refresher {
    position:absolute;
    right:70px;
    top: 18px;
    color: #ffffff;
    font-style:italic;
}

.priceupdate_container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.priceupdateinput {
    background: none;
    outline-style: none;
    width: auto;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0) !important;
    color: rgb(0, 0, 0);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    font-size: 15px;
}

.priceupdate_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    height: 40px;
    background: #012137;
    color: rgb(195, 195, 195);
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
}

